body { background: #29e4; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-uploader-0 { color: #577ff3; font-size: 12px; margin-bottom: 5px; }
.block-auth-1 { color: #201f6; font-size: 16px; margin-bottom: 5px; }
.block-logger-2 { color: #24242a; font-size: 13px; margin-bottom: 5px; }
.block-uploader-3 { color: #6e2450; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #d3e6fb; font-size: 19px; margin-bottom: 5px; }
.block-filter-5 { color: #d21417; font-size: 14px; margin-bottom: 5px; }
.block-cart-6 { color: #54afe0; font-size: 14px; margin-bottom: 5px; }